* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 40px;
     height: 20vh;
     padding: 30px;
 }

 .headerDiv {
    display: flex;
    align-items: center;
    gap: 40px;
 }

 .fa-house {
    font-size: 40px;
    color: white;
 }

 header img {
     width: 100px;
 }

 header h1 {
     font-size: 40px;
     color: white;
 }

 main {
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     gap: 30px;
     padding: 20px;
 }

body {
    background-image: url("kortstokk/felt.webp");
    background-size: 100% 100%;
    min-height: 100vh;
   
}

.container {
    width: fit-content;
    max-width: 80%;
    gap: 20px;
    /* "motveier" -100px på kortene: */

}

.c1>.tomRute {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* mellomrom mellom kortene */
    padding-top: 10px;
}

.c1>.tomRute img {
    width: 150px;
    margin-top: -200px;
    /* gjør at kort overlapper */
}

.c1>.tomRute img:first-child {
    margin-top: 0;
    /* første kort starter øverst */
}


.c1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;

}

.tomRute {
    display: flex;
    justify-content: flex-start;
    /* start øverst */
    align-items: center;

    width: 200px;
    min-height: 300px;
    /* endret fra height */
    border-radius: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.diamond {
    background-image: url(kortstokk/diamond2.svg);
}

.heart {
    background-image: url(kortstokk/heart2.png);

}

.spade {
    background-image: url(kortstokk/spade2.png);

}

.club {
    background-image: url(kortstokk/club2.png);

}

.red {
    padding: 22px;
}

.c2 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}


.r2>img {
    width: 200px;
}