body {
    background-image: url("kortstokk/felt.webp");
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: fit-content;
    max-width: 80%;
    /* "motveier" -100px på kortene: */
    margin-left: 100px;

    border: 2px yellow solid;
}

/* MERK! Ikke noe flex her! Bare "vanlig" img egenskap: Display inline-block! */
img {
    display: inline-block;
    width: 150px;
    margin-left: -100px;
}