 * {
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
 }

 img {
     display: block;
 }

 body {
     background-image: url(kortstokk/felt.webp);
     background-size: 100% 100%;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 100vh;
     margin: 0;

 }

 header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 40px;
     height: 20vh;
     padding: 30px;
 }

 .headerDiv {
    display: flex;
    align-items: center;
    gap: 40px;
 }

 .fa-house {
    font-size: 40px;
    color: white;
 }

 header img {
     width: 100px;
 }

 header h1 {
     font-size: 40px;
     color: white;
     font-family: 'Times New Roman', Times, serif;
 }

 main {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     color: white;
     gap: 30px;
 }

 .bilde {
     width: 200px;
 }

 .svar {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
 }

 input {
     border-radius: 15px;
     padding: 10px;
     width: 150px;
     border: 3px solid black;
     font-size: 20px;

 }

 button {
     border-radius: 15px;
     padding: 10px;
     background-color: rgb(236, 86, 86);
     font-family: 'Times New Roman', Times, serif;
     font-weight: bold;
     color: white;
     text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
     font-size: 20px;
 }

 #gjettSort {
    border-radius: 15px;
     padding: 10px;
     width: 120px;
     border: 3px solid black;
     font-size: 20px;

 }