* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

body {
    background-image: url("kortstokk/felt.webp");
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container {
    width: fit-content;
    max-width: 80%;
    /* "motveier" -100px på kortene: */

}

/* MERK! Ikke noe flex her! Bare "vanlig" img egenskap: Display inline-block! */
img {
    display: inline-block;
    width: 150px;
    margin-left: -100px;
}

.c1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

.tomRute {
    border: 3px white dotted;
    width: 200px;
    height: 300px;
    border-radius: 20px;
}

.c2 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

